html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

#sidebar {
    position: absolute;
    right: -240px;
    width: 240px;
    height: 100%;
    background-color: #05a3d5;
    -moz-box-sizing: border-box;
    	 box-sizing: border-box;
	display: none;
}

.short-line {
	width: 75px;
	height: 4px;
	padding: 0;
	margin: 0 0 10px 0;
	background-color: #A2AB58;
}

.long-line {
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 0 0 10px 0;
  background-color: #ffffff;
}

.horizontal-divider {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 30px;
}

.vertical-center {
  vertical-align: middle;
}

.hero {
	margin-bottom: 10px;
 	background-color: #00b0e7;
	color: #ffffff;
}

.social-media {
	width: 100%;
	margin: 20px 0 0 0;
	font-size: 28px;
	color: #ffffff;
	text-align: center;
}

.social-media a {
	margin: 0 5px 0 5px;
	color: #80d8f3;
	text-decoration: none;
}

.social-media a:hover { color: #ffffff; }

.project-downloads {
  color: #A2AB58;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.ability-item {
  padding-bottom: 10px;
}

.ability-title {
  font-size: 14px;
}

.ability-score {
  float: right;
}

.btn-custom-lg {
  color: #8e8e8e;
  background-color: transparent;
  border: 2px solid;
  border-color: #8e8e8e;
}

.btn-custom-lg:hover {
  color: #A2AB58;
}

.guide i .fa { font-size: 22px; }

#contact {
  background-color: #202020;
  color: #8e8e8e;
  padding-bottom: 20px;
}

.footer {
  font-size: 12px;
}
